<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stilos.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="form-container">
            <h1>Inicio de sesion</h1>
            <form action="" class="formularioInicioSesion" id="login contenedor">
                <div class="cajaInicio">
                    <label for="usuario"> Ususario</label>
                    <input type="text" name="usuario" id="usuario" placeholder="ingresa tu usuario">
                </div>
                <div class="cajaInicio">
                    <label for="contraseñia">Contraseña</label>
                    <input type="text" name="contraseña" id="contraseña" placeholder="escribe tu contraseña">
                </div>
                <button type="submit">Inicia sesion</button>
            </form>
            <p>Si aun no estas registrado <a class="register" href="/register">registrate</a></p>
        </div>
        <div class="slider">
            <video class="video" autoplay loop muted>
                <source src="/videos/apto001.mp4">
            </video>
        </div>
    </main>
</body>
</html>